<section class="groupMessage">
  <h4 class="groupMessage__date">
    {{dateDialog}}
  </h4>
  <ul class="groupMessage__messages">
    {{#each messages.messages}}
      {{> "dialog/components/message/message"}}
    {{/each}}
  </ul>
</section>
