.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  &__label {
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
    color: var(--color-text-second);
    margin-bottom: 8px;
    visibility: visible;
    opacity: 1;
    &_hidden {
      visibility: hidden;
      opacity: 0;
    }
  }
}
