.dialog {
  flex: 5 5 970px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    position: relative;
    width: 100%;
    height: 55px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__avatar {
    width: 34px;
    height: 34px;
    border-radius: 20px;
    margin-right: 10px;
  }

  &__username {
    margin-right: auto;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    color: var(--color-text);
  }

  &__feed {
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__form {
    position: relative;
    height: 55px;
    border-top: 1px solid var(--color-border);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__input {
    height: 32px;
    border: none;
    flex: 1 1 auto;
    margin: 0 10px;
    background: var(--color-bg-second);
    border-radius: 30px;
    padding: 0;
    padding-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: var(--color-text);

    &::placeholder {
      color: var(--color-text-second);
    }
  }
}
