<div class="dialog">
  <header class="dialog__header">
    {{> "components/avatar/avatar" class="dialog__avatar"}}
    <h2 class="dialog__username">{{ name }}</h2>
    {{> "components/button/button" class="dialog-header" type="button" label="Открыть меню"}}
    {{#> "menu/menu" classOpenMenu=classMenuHeader type="control" }}
      {{> "menu/components/menuItem/menuItem" class="add-user" caption="Добавить пользователя"}}
      {{> "menu/components/menuItem/menuItem" class="delete-user" caption="Удалить пользователя"}}
      {{> "menu/components/menuItem/menuItem" class="clear-chat" caption="Очистить чат"}}
    {{/ "menu/menu"}}
  </header>
  <div class="dialog__feed">
    {{> "dialog/components/groupMessage/groupMessage" dateDialog="17 июня"}}
    {{> "dialog/components/groupMessage/groupMessage" dateDialog="18 июня"}}
    {{> "dialog/components/groupMessage/groupMessage" dateDialog="19 июня"}}
  </div>
  <form class="dialog__form" name="message" id="message">
    {{> "components/button/button" class="dialog-insert" type="button" label="Вставить файл"}}
    <input type="text" class="dialog__input" name="message" id="message" required="true" placeholder="Сообщение" />
    {{> "components/button/button" class="dialog-submit" type="submit" label="Отправить сообщение"}}
    {{#> "menu/menu" classOpenMenu=classMenuInsert type="insert" }}
      {{> "menu/components/menuItem/menuItem" class="add-media" caption="Фото или Видео"}}
      {{> "menu/components/menuItem/menuItem" class="add-file" caption="Файл"}}
      {{> "menu/components/menuItem/menuItem" class="add-location" caption="Локация"}}
    {{/ "menu/menu"}}
</form>
</div >