.message {
  position: relative;
  max-width: 380px;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 11px;
  background-color: var(--color-message);
  display: flex;
  &_owner_another {
    border-radius: 0 10px 10px 10px;
    align-self: flex-start;
  }
  &_owner_my {
    background-color: var(--color-bg-element);
    border-radius: 10px 10px 0 10px;
    align-self: end;
    margin: 20px 0;
  }
  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color-text);
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 4px;
    float: right;
    height: 100%;
    margin-left: 15px;
    display: flex;
    align-items: flex-end;
    shape-outside: inset(calc(100% - 5px) 0 0);
  }
  &__delivery {
    width: 10px;
    height: 4px;
    background-image: url('../../static/message-delivered.svg');
    padding-bottom: 2px;
    background-repeat: no-repeat;
  }
  &__time {
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
    &_owner_my {
      color: var(--color-blue);
    }
    &_owner_another {
      color: var(--color-text-second);
    }
  }
}
