<div class="message message_owner_{{owner}}">
  <p class="message__text">
    <span class="message__box">
      <span class="message__info">
        {{#if delivered}}
          <span class="message__delivery"></span>
        {{/if}}
        <span class="message__time message__time_owner_{{owner}}">
          {{time}}
        </span>
      </span>
    </span>
    {{text}}
  </p>
</div>
