/* .form-container {
  width: 340px;
  background: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: 50px 30px 30px;
  box-sizing: border-box;
} */

.form {
  width: 340px;
  background: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 12px;
  padding: 50px 30px 30px;
  box-sizing: border-box;
  position: relative;

  /* width: 100%; */
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: var(--color-text);
    margin: 0;
  }

  &__fieldset {
    width: 100%;
    padding: 0;
    border: none;
    margin: 40px 0 auto;
  }

  &__control {
    width: 100%;
  }

  /* &__link {
    width: fit-content;
    text-align: center;
    color: var(--color-blue);
    margin: 14px auto 0;
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    display: block;
  } */
}
