.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__button-goback {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    border-right: 1px solid #eaeaea;
  }
  &__box {
    position: relative;
    min-height: 527px;
    padding: 10px 0;
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  &__avatar {
    cursor: pointer;
    width: 130px;
    height: 130px;
    background-image: url('../../static/profile-avatar-plug.svg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 70px;
    &::before {
      content: 'Поменять\0aаватар';
      width: 100%;
      height: 100%;
      font-weight: 500;
      font-size: 13px;
      line-height: 1.1;
      text-align: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 1;
      border-radius: 70px;
      white-space: pre;
    }
    &:hover::before{
      background-color: rgba(0, 0, 0, .5);
      visibility: visible;
    }
  }
  &__name {
    position: absolute;
    top: 160px;
    left: auto;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #1e1e1e;
  }
  &__form {
    width: 100%;
    margin: 90px 0 auto;
  }
  &__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    color: #1e1e1e;
    border-bottom: 1px solid #eaeaea;
    &:last-child {
      border-bottom: none;
    }
  }
  &__input {
    flex: 1 1 200px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    text-align: right;
    color: #999999;
    border: none;
  }
  &__control {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 50px 0 60px;
  }
  &__button {
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
    height: 32px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 13px;
    border-bottom: 1px solid #eaeaea;
    line-height: 1;
    color: #3369f3;
    &_exit {
      display: block;
      text-decoration: none;
      color: #ff0000;
      border-bottom: none;
      line-height: 32px;
    }
  }
  &__button-save {
    width: 280px;
  }
}
