.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__button-goback {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: var(--color-chatbar);
    border-right: 1px solid var(--color-border);
  }
}
