.error {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__box {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__code {
    margin: 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    text-align: center;
    color: #1e1e1e;
  }
  &__status{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #1e1e1e;
    margin-bottom: 50px;
  }
  &__back{
    border: none;
    background: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    text-align: center;
    color: #3369F3;
  }
}
