@import url('./normalize.css');
@import url('./variables.css');
@import url('../pages/index.css');
@import url('../pages/chats/chats.css');
@import url('../pages/profile/profile.css');
@import url('../pages/profile/components/fieldProfile/fieldProfile.css');
@import url('../pages/profile/components/formProfile/formProfile.css');
@import url('../partials/chatBar/chatBar.css');
@import url('../partials/components/avatar/avatar.css');
@import url('../partials/dialog/dialog.css');
@import url('../partials/chatBar/components/chat/chat.css');
@import url('../partials/dialog/components/groupMessage/groupMessage.css');
@import url('../partials/dialog/components/message/message.css');
@import url('../partials/components/button/button.css');
@import url('../partials/components/form/form.css');
@import url('../partials/components/input/input.css');
@import url('../partials/components/field/field.css');
@import url('../partials/components/errorInput/errorInput.css');
@import url('../partials/modal/modal.css');
@import url('../partials/menu/menu.css');
@import url('../partials/menu/components/menuItem/menuItem.css');
@import url('../partials/errorPage/errorPage.css');
