body {
  --color-white: #fff;
  --color-blue: #3369f3;
  --color-red: #f00;
  --color-text: #1e1e1e;
  --color-text-second: #999;
  --color-text-file: #8d8d8d;
  --color-border: #eaeaea;
  --color-bg-element: #e4edfd;
  --color-bg-second: #efefef;
  --color-chatbar: #fbfbfb;
  --color-message: #f8f8f8;
  --color-red-error: #ff2f2f;
  /* stylelint-disable length-zero-no-unit */
  --color-overlay: rgb(0 0 0 / 60%);
  --color-overlay-avatar: rgb(0 0 0 / 50%);
  --shadow: 0px 0px 6px rgb(0 0 0 / 14%);
  /* stylelint-enable length-zero-no-unit */
}
