.chat {
  height: 68px;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--color-border);
  padding: 2px 0 0;
  list-style: none;
  margin-bottom: 2px;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid var(--color-border);
  }

  &__content {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    width: 100%;
    height: 65px;
    padding: 10px 0 8px;
    position: relative;
    box-sizing: border-box;

    &_active {
      background-color: var(--color-bg-element);

      &::before {
        content: "";
        width: 10px;
        height: 100%;
        top: 0;
        left: -10px;
        position: absolute;
        background-color: var(--color-bg-element);
      }

      &::after {
        content: "";
        width: 10px;
        height: 100%;
        top: 0;
        right: -10px;
        position: absolute;
        background-color: var(--color-bg-element);
      }
    }
  }

  &__avatar {
    width: 47px;
    height: 47px;
    border-radius: 25px;
    margin-right: 10px;
  }

  &__title {
    width: 62%;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    color: #1e1e1e;
  }

  &__text {
    margin: 0;
    width: 62%;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    color: var(--color-text-second);
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-inline-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__info {
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__date {
    font-weight: 500;
    font-size: 9px;
    line-height: 1.44;
    text-align: right;
    color: var(--color-text-second);
  }

  &__count-new-message {
    background-color: var(--color-blue);
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-weight: 500;
    font-size: 11px;
    line-height: 1.1;
  }
}
