.menu {
  z-index: 10;
  margin: 0;
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  visibility: hidden;
  opacity: 0;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &_control {
    top: 60px;
    right: -10px;
  }

  &_insert {
    top: -138px;
    left: -10px;
  }
}
