<div class="modal {{class}}">
  <div class="modal__box">
    {{#if errorRequest}}
      <span class="modal__title_error">
        Ошибка, попробуйте ещё раз
      </span>
    {{else}}
      <h3 class="modal__title">
        {{title}}
      </h3>
    {{/if}}
    {{> @partial-block }}
    {{> "components/button/button" caption=buttonName class="form" form=form type="submit"}}
    {{#if errorSubmit}}
      <span class="modal__error-submit">{{errorSubmit}}</span>
    {{/if}}
  </div>
</div>