.chatBar {
  height: 100%;
  padding: 0;
  flex: 1 1 310px;
  background-color: var(--color-chatbar);;
  border-right: 1px solid var(--color-border);;
  box-sizing: border-box;
  &__profile-link {
    height: 56px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
  &__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    text-align: right;
    color: var(--color-text-second);
  }
  &__search {
    width: 100%;
    margin: 0 0 14px 0;
    padding: 0 10px;
    height: 32px;
    box-sizing: border-box;
  }
  &__search-input {
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--color-bg-second);
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    color: var(--color-text);
    &::placeholder {
      color: var(--color-text-second);
      text-align: center;
      background-image: url('../../static/chatbar-search.svg');
      background-repeat: no-repeat;
      background-position: 38% -2px;
    }
  }
  &__chatList {
    margin: 0;
    padding: 0 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: calc(100% - 100px);
    box-sizing: content-box;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
