<ul>
  <li>
    <a href="./chats/chats.hbs">
      Pages With Chats
    </a>
  </li>
  <li>
    <a href="./profile/profile.hbs">
      Profile
    </a>
  </li>
  <li>
    <a href="./login/login.hbs">
      Login
    </a>
  </li>
  <li>
    <a href="./register/register.hbs">
      Register
    </a>
  </li>
  <li>
    <a href="./pageNotFound/pageNotFound.hbs">
      Page not found
    </a>
  </li>
  <li>
    <a href="./pageServerError/pageServerError.hbs">
      Page with error server
    </a>
  </li>
</ul>