.button {
  cursor: pointer;
  border: none;
  background: none;
  background-repeat: no-repeat;
  padding: 0;
  background-position: center;
  &_dialog-header {
    background-image: url('../../static/dialog-header-menu.svg');
    width: 25px;
    height: 25px;
  }
  &_dialog-insert {
    background-image: url('../../static/dialog-insert.svg');
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
  }
  &_dialog-submit {
    flex: 0 0 28px;
    background-color: var(--color-blue);
    background-image: url('../../static/dialog-submit.svg');
    width: 28px;
    height: 28px;
    border-radius: 15px;
  }
  &_form {
    width: 100%;
    height: 37px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    border-radius: 8px;
  }
  &_goback {
    background-color: var(--color-blue);
    background-image: url('../../static/dialog-submit.svg');
    rotate: 180deg;
    width: 28px;
    height: 28px;
    border-radius: 15px;
  }
  &_profile {
    width: 280px;
    height: 37px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-weight: 500;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    border-radius: 8px;
  }
}
