.profile__label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  color: var(--color-text);

  border-bottom: 1px solid var(--color-border);
  position: relative;

  &:last-child {
    border-bottom: none;
  }
}

.profile__input {
  flex: 1 1 200px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1;
  text-align: right;
  color: var(--color-text-second);
  border: none;
}

.profile__error {
  font-weight: 400;
  font-size: 8px;
  color: var(--color-red-error);
  position: absolute;
  bottom: 0;
  right: 0;
}
